append styles
	// Custom styles for this template
	link(href='/@jade-bootstrap/css/sticky-footer.css', rel='stylesheet')

footer.footer
	.container
		p.text-muted 
			| Developer: Antonio Carlos Falcão Petri <falcaopetri@gmail.com> - 
			a(href="http://www.ufscar.br/", target="_blank") UFSCar
			|, São Carlos
