extends layout

append styles
	// Custom styles for this template
	link(href='/bootstrap/css/dashboard.css', rel='stylesheet')
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")

append scripts
	// TODO should split up this scripts, so they are included where really needed
	script(src="https://cdn.socket.io/socket.io-1.3.7.js")
	script(src="/javascripts/connection.js")
	script(src="http://d3js.org/d3.v3.js")
	script(src="/javascripts/data.js")

block sidebar
	.row
		.col-sm-3.col-md-2.sidebar
			ul.nav.nav-sidebar
				li.active.connect
					a(href='#').connect Connection
				li.overview
					a(href='#', class="disabled").connected Overview
				li.analytics
					a(href='#', class="disabled").connected#analytics_btn Analytics
					include analytics
				li
					a(href='#', class="disabled").connected Export

block content
	include conns
	include overview
