//- TODO Not implemented
#views_selector.disabled
	+checkbox-toggle-default([{caption:"Live Streaming"}], 0)
	+checkbox-toggle-default([{caption:"Input"}], 0)
	+checkbox-toggle-default([{caption:"Output"}], 0)
	+checkbox-toggle-default([{caption:"PID Parameters"}], 0)
	+checkbox-toggle-default([{caption:"Parameters Controller"}], 0)
