//- TODO Not implemented
#views_selector(style="margin: 5px;").disabled
	+checkbox-toggle-default([{caption:"Input"}], 0)
	br
	+checkbox-toggle-default([{caption:"Output"}], 0)
	br
	+checkbox-toggle-default([{caption:"PID Parameters"}], 0)
	br
	+checkbox-toggle-default([{caption:"Parameters Controller"}], 0)
