// Source spinning:
// http://stackoverflow.com/a/31205524
// http://jsfiddle.net/oshybystyi/v04ag5ch/4/
.has-spinner .fa-refresh,
.has-spinner .fa-spinner {
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .fa-refresh,
.has-spinner.active .fa-spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.fa-refresh,
.fa-spinner {
    margin-left: 5px;
}

#refresh {
  width: 90px;
}

.disabled {
    // Source: http://stackoverflow.com/a/25776393
    pointer-events: none;
    opacity: 0.4;
}

div.disabled {
    display: none
}

// Source: https://gist.github.com/mbostock/1642874
svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}

// Source: http://www.mattlayman.com/2015/d3js-area-chart.html
.area { fill: #4ca3bd; }

#input,
#pid_parameters {
    float: left;
}
#output,
#parameters_controller {
    float: left;
}

// Source: https://css-tricks.com/row-and-column-highlighting/
.hover { background-color: #eee; }

// Overrides /@jade-bootstrap/css/sticky-footer.css
.container .text-muted {
  margin: 10px 0;
}
.footer {
  /* Set the fixed height of the footer here */
  height: 40px;
}

// Source: http://stackoverflow.com/a/10688485
.table-nonfluid {
   width: auto !important;
}

.btn-group .btn {
    margin: 3px !important;
}

#views_selector {
    margin: 5px;
}
